.Messages{
	border: 1px solid silver;
	border-radius: 0px 10px 10px 0px;
	padding: 10px;
}
.Message{
	border: 1px solid silver;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
}
.Messages > .Messages_Form{
	width: 100%;
	display: grid;
	grid-column-gap: 5px;
	grid-template-columns: 80% 15%;
}
.Messages > .Messages_Form > textarea{
	resize: none;
}
.Message.me{
	width: 50%;
	float: right;
}
.Message.friend{
	width: 50%;
	float: left;
}
