.User{
	display: grid;
	grid-template-columns: 30% 70%;
	border: 1px solid #C2D3CF;
	border-radius: 10px;
}
.User > .User_Ava > .User_Img > a > img, .User > .User_Ava > .Follow > button, .User > .User_Ava > .Follow > .FollowPreloader > img{
	width: 100%;
	height: 100%;
}
.User > .User_Ava {
	overflow: hidden;
	display: grid;
	grid-template-rows: 80% 20%;
	grid-row-gap: 2px;
	border: 1px solid silver;
	padding: 5px;
	border-radius: 8px;
}
.User > .User_Info {
	padding: 5px;
	display: grid;
	grid-template-rows: 30% 30% 30%;
	text-align: center;
}