.Post{
	width: 90%;
	display: grid;
	grid-template-columns: 20% 80%;
	margin: 10px;
	padding: 5px;
}
.Post > .Post_Img{
	text-align: left;
	clear: both;
}
.Post > .Post_Img > img{
	width: 100%;
	border: 1px solid silver;
	border-radius: 15%;
}
.Post > .Post_Body{
	text-align: center;
	margin-left: 5px;
}
.Post > .Post_Body > .Post_Text{
	border: 1px solid silver;
	border-radius: 10px;
}
.Post > .Post_Body > .Post_User{
	font-size: 14px;
}
.Post > .deleteButton{
	cursor: pointer;
	position: absolute;
	left: 80%;
}
.Post > .deleteButton > img{
	width: 5%;
	margin-bottom: 5px;
}
