.Paginator{
	border-radius: 5px;
	border: 1px solid gold;
	padding: 10px;
	text-align: center;
}

.Paginator > span{
	border: 1px solid silver;
	padding: 3px;
	cursor: pointer;
}

.Paginator > .Paginator_leftButton{
	margin-right: 10px;
}

.Paginator > .Paginator_rightButton{
	margin-left: 10px;
}


.selectPage{
	font-weight: 800;
}